/* Password */

.pass__block {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
}

.text__pass {
    padding: 10px 10px;
    text-align: center;
}

input {
    width: 200px;
    border: 2px solid #1f1b1b;
    border-radius: 7px;
    background-color: #b3acaf;
    box-shadow: 0px 0px 15px #664b48;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
}

input:focus {
    outline:none !important;
}

.bar_container {
    width: 200px;
    height: 5px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#password-length {
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 15px black;
}

.bad {
    width: 34%;
    background-color: #E25D52;
}

.good {
    width: 68%;
    background-color: #e2b452;
}

.perfect {
    width: 100%;
    background-color: #52e2be;
}